<!DOCTYPE html>
<html>
  <head>
    <title>我的圖書管理 - {{title}}</title>
    <link rel='stylesheet' href='{{ static '/css/view.css' }}' />
    <script src="{{ static '/js/vue.min.js' }}"></script>
    <script src="{{ static '/js/axios.min.js' }}"></script>
    {{{block "stylesheets"}}}
    {{{block "scripts"}}}
  </head>
  <body>
    {{{body}}}
    <footer>
      <script src="{{ static '/js/do.js' }}"></script>
    </footer>
  </body>
</html>
